<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/bootstrap.min.css')) }}">
    <title>Beautiful CV</title>
    <style>
        .offset-1{
            margin-top: 30px;
        }
        #background-photo{
            width: 200px;
            height: 200px;
            background-image: url("{{ absolute_url(asset('assets/img/avatar5.jpg')) }}");
            background-position: center;
            background-size: 200px;
            background-repeat: no-repeat;
        }
        #name{
            background-color: #27aae1;
            color: white;
            position: relative;
            padding: 10px 0 10px 0;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: 900;
            top: 50px;
            left: -30px;

        }
        #about {
            border-right: #939598 solid 3px;
        }
        #contact{
            border-right: #939598 solid 3px;
        }
        h2{
            color: #27aae1;
            font-weight: bold;
        }
        .item > h3{
            color: #939598;
            font-weight: bold;
            display: inline-block;
        }
        .year{
            color: #939598;
            font-weight: 100;
            font-size: 16px;
            padding-left: 15px;
        }
        .item-subtitle{
            color: #939598;
            font-weight: 300;
            font-size: 16px;
        }
        .item-content {
            padding-left: 30px;
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <div class="row offset-1">
            <div id="background-photo" class="col-xs-3">

            </div>
            <div class="col-xs-5">
                <h1 id="name" class="text-uppercase text-center" data-type="text" data-pk="name" data-url="" data-title="Votre nom">{{ name }}</h1>
            </div>
        </div>
    </div>
</header>
<section id="lame-1" class="container">
    <div class="row offset-1">
        <div id="about" class="col-xs-4">
            <h2 class="text-uppercase">A propos</h2>
            <p id="apropos" data-type="textarea" data-pk="apropos" data-url="" data-title="A propos de vous">{{ apropos }}</p>
        </div>
        <div id="education" class="col-xs-7 col-xs-offset-1">
            <h2 class="text-uppercase">Scolarité</h2>
            <div class="item">
                <h3 id="university-1" data-type="text" data-pk="university-1" data-url="" data-title="Votre cursus">{{ university1 }}</h3><span class="year" id="year-1" data-type="text" data-pk="date-1" data-url="" data-title="Période">{{ year1 }}</span>
                <div class="item-content">
                    <h4 class="item-subtitle text-uppercase" id="grade-1" data-type="text" data-pk="grade-1" data-url="" data-title="Votre diplôme">{{ grade1 }}</h4>
                    <p id="parcours-1" data-type="textarea" data-pk="parcours-1" data-url="" data-title="Votre parcours">{{ parcours1 }}</p>
                </div>
            </div>
            <div class="item">
                <h3 id="university-2" data-type="text" data-pk="university-2" data-url="" data-title="Votre cursus">{{ university2 }}</h3><span class="year" id="year-2" data-type="text" data-pk="date-2" data-url="" data-title="Période">{{ year2 }}</span>
                <div class="item-content">
                    <h4 class="item-subtitle text-uppercase" id="grade-2" data-type="text" data-pk="grade-2" data-url="" data-title="Votre diplôme">{{ grade2 }}</h4>
                    <p id="parcours-2" data-type="textarea" data-pk="parcours-2" data-url="" data-title="Votre parcours">{{ parcours2 }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row offset-1">
        <div id="contact" class="col-xs-4">
            <h2 class="text-uppercase">Me contacter</h2>
            <table class="table table-stripped offset-1">
                <tr>
                    <th>Téléphone</th>
                    <td id="phone" data-type="text" data-pk="phone" data-url="" data-title="Téléphone">{{ phone }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td id="address" data-type="text" data-pk="address" data-url="" data-title="Adresse">{{ address }}</td>
                </tr>
                <tr>
                    <th>Site internet</th>
                    <td><a href="http://www.neweden.ovh" target="_blank" id="url" data-type="text" data-pk="url" data-url="" data-title="Site Web">{{ url }}</a></td>
                </tr>
                <tr>
                    <th>Linkedin</th>
                    <td><a href="https://www.linkedin.com/in/alexe%C3%AF-creney-b28949106/" target="_blank" id="linkedin" data-type="text" data-pk="linkedin" data-url="" data-title="Linkedin">{{ linkedin }}</a></td>
                </tr>
                <tr>
                    <th>Github</th>
                    <td><a href="https://github.com/CoreAptics" target="_blank" id="github" data-type="text" data-pk="github" data-url="" data-title="Github">{{ github }}</a></td>
                </tr>
            </table>
        </div>
        <div id="education" class="col-xs-7 col-xs-offset-1">
            <h2 class="text-uppercase">Expériences</h2>
            <div class="item">
                <h3 id="company-1" data-type="text" data-pk="company-1" data-url="" data-title="Votre entreprise">{{ company1 }}</h3><span class="year" id="year-3" data-type="text" data-pk="year-3" data-url="" data-title="Période">{{ year3 }}</span>
                <div class="item-content">
                    <h4 class="item-subtitle text-uppercase" id="poste-1" data-type="text" data-pk="poste-1" data-url="" data-title="Votre poste">{{ poste1 }}</h4>
                    <p id="description-3" data-type="textarea" data-pk="description-3" data-url="" data-title="Description">{{ description3 }}</p>
                </div>
            </div>
            <div class="item">
                <h3 id="company-2" data-type="text" data-pk="company-2" data-url="" data-title="Votre entreprise">{{ company2 }}</h3><span class="year" id="year-4" data-type="text" data-pk="year-4" data-url="" data-title="Période">{{ year4 }}</span>
                <div class="item-content">
                    <h4 class="item-subtitle text-uppercase" id="poste-2" data-type="text" data-pk="poste-2" data-url="" data-title="Votre poste">{{ poste2 }}</h4>
                    <p id="description-4" data-type="textarea" data-pk="description-4" data-url="" data-title="Description">{{ description4 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="lame-2">
    <div class="container">
        <div class="row">
            <h2 class="text-uppercase">Compétences</h2>
            <div class="item col-xs-12">
                <h3 id="skill-1" data-type="text" data-pk="skill-1" data-url="" data-title="Compétence">{{ skill1 }}</h3>
                <div class="item-content">
                    <h4 class="item-subtitle text-uppercase" id="level-1" data-type="text" data-pk="level-1" data-url="" data-title="Niveau">{{ level1 }}</h4>
                    <p id="description-1" data-type="textarea" data-pk="description-1" data-url="" data-title="Description">{{ description1 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>